@page
@model FirstApp.Pages.ResultModel
@inject FirstApp.Common.ApplicationState _state

@{
    ViewData["title"] = "Result";
}

<h1>Result</h1>

@*Area: @TempData["area"]*@

Area: @_state.Get("area")